
/* @import url("fonts.css"); */
/* @import url("font-awesome/css/font-awesome.min.css"); */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f55c7a;
    --secondary-color: #3e3e3e;
    --border: 3px;
    --color1: #faa6cd;
    --color2: #fce7a6;
    --intro-overlay: rgba(255, 249, 237, 0.85);
    --section-primary:rgb(255, 249, 237);
    --section-secondary:rgb(250, 245, 238);
    --from: 30deg;
    --distance: 60%;
    --plant-pro-main: rgba(154,184,136,1);
    --white-text: rgb(232, 232, 232);
}

/* <---------------> */
/* General Settings */
/* <---------------> */

html {
	font-size: 10px;
}

html, body {
	height: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-color: var(--section-secondary);
}

body p {
    font-size: 1.5rem;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}

    body {
        font-size: 1.2rem;
    }

    body p {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}

    body {
        font-size: 1rem;
    }

    body p {
        font-size: 1rem;
    }
}
/* <---------------> */



header {
    position: relative;
    padding: 3rem;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.logo a {
    display: flex;
    flex-direction: row;
}

.navbar a img {
    width: 50px;
    height: 50px;
}

.navbar a h2 {
    display: inline-block;
    padding: 0 0 0 10px;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-wrap: nowrap;
}

.navbar li a {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: .3s border-bottom ease-in-out;
    position: relative;
}

.navbar li a:hover{
    color:var(--secondary-color);
}

.links a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgba(0,0,0,0.1);
    transition: width 0.3s ease;
  }

  .links li:hover a::before {
    width: 100%;
  }


.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .toggle-btn {
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    display:none;
}

.navbar .toggle-btn i {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-xmark {
    color: white;
    background-color: var(--primary-color);
    border-radius: 30px;
}

/* <---------------> */

/* <---------------> */
/* Dropdown Menu */
/* <---------------> */

.dropdown-menu {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 3rem;
    top: 90px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    opacity: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s ease-in-out;
}

.dropdown-menu.open {
    height: 175px;
}

.dropdown-menu li {
    padding: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-image: linear-gradient(to left,transparent, rgba(230, 230, 230, 0.7), transparent);
    border-image-slice: 1;
}



/* <---------------> */


/* <---------------> */
/* Responsive NavBar */
/* <---------------> */

@media only screen and (min-width:1024px) {
    .dropdown-menu.open, .dropdown-menu {
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu, .dropdown-menu.open {
        display: block;
    }
    .dropdown-menu.open {
        opacity: 1;
    }
}

@media only screen and (max-width:768px) {

    .dropdown-menu {
        display: block;
        left: 2rem;
        width: unset;
    }
    .dropdown-menu li {
        padding: 0.8rem;
    }

    .dropdown-menu li a {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}



/* <---------------> */


/* <---------------> */
/* SideBar */
/* <---------------> */

.sidebar {
  height: 90vh;
  position: fixed;
  display: flex;
  justify-content: left;
  padding-top: 2vh;
  text-wrap: nowrap;
  z-index: 9997;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  writing-mode: vertical-rl;
  text-decoration: none;
  display: block;
  padding:10px 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--secondary-color);
}

@media only screen and (max-width:1024px) {
	.sidebar {
		display:none;
	}
}


/* Main */

main,footer {
    overflow-x: hidden;
}


#container {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}


#container h1 {
    font-size: 80px;
    letter-spacing: 4px;
}

#container .header-text {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.header-img {
    width: 100vw;
    background-color: var(--plant-pro-main);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.bg-color-plant {
    background-color: var(--plant-pro-main);
    height: 65vh;
}

.header-img img {
    max-width: 35vw;
    max-height: 85%;
    width: auto;
    height:auto;
    padding: 10px 20px;
}

.img-rotation1 {
    transform: rotateY(40deg);
}

.img-rotation2 {
    transform: rotateY(-40deg);
}


@media only screen and (max-width:1024px) {
    #container h1 {
        font-size: 70px;
        letter-spacing: 3px;
    }

    .header-img img {
        max-width: 30vw;
        max-height: 65%;
    }

}
@media only screen and (max-width:768px) {
    #container h1 {
        font-size: 60px;
        letter-spacing: 3px;
    }

    .header-img img {
        max-width: 35vw;
        max-height: 65%;
        padding: 10px;
    }
}
@media only screen and (max-width:400px) {
    #container h1 {
        font-size: 50px;
        letter-spacing: 5px;
    }

}

/*--------------------------------------------------------------
# Context Section
--------------------------------------------------------------*/

.context {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}

.context h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.plant-pro-h2 {
    color: var(--plant-pro-main);
}

.context ul {
    list-style: none;
    display: flex;
    padding-bottom: 40px;
}

.context>ul {
    padding: 0 25vw;
    flex-direction: column;
    gap: 30px;
}

.context ul h3 {
    text-align: start;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.problem-statement {
    position: relative;
    font-size: 1.8rem;
    padding: 20px 100px;
    font-style: italic;
    color: var(--plant-pro-main);
}

.context-h3 {
    color: #b2b2b2;
    position: absolute;
    top:0px;
    left:0px;
    font-style: normal;
}


.problem-statement ul {
    padding:30px 20px 0 20px !important;
    list-style: circle;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
}

.role-time-tool {
    background-color: var(--plant-pro-main);
    /* width: 100vw; */
    height: auto;
    padding: 40px 130px;
    color: var(--white-text);
}

.role-time-tool ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.role-icon {
    margin: 10px auto;
    height: 80px;
    width: 80px;
    background-color: var(--white-text);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.research-questions {
    margin: 0 !important;
}

.user-voices {
    padding: 40px 25vw;
    text-align: left;
}


.user-voices p span {
    font-size: 30px;
}


.user-voices div {
    margin-bottom: 40px;
}

.user-voices h4 {
    text-align: center;
}


@media only screen and (max-width:1024px) {
    .context>ul {
        padding: 0 5vw;
        flex-direction: column;
        gap: 30px;
    }

}
@media only screen and (max-width:768px) {
    .problem-statement {
        position: relative;
        padding: 20px;
    }

    .context h2 {
        font-size: 30px;
    }

    .role-time-tool {
        padding: 40px 30px;
    }

    .role-time-tool ul {
        font-size: 1.2rem;
    }

    .role-icon {
        height: 50px;
        width: 50px;
        font-size: 2rem;
    }

    .problem-statement ul {
        font-size: 1.2rem;
    }

}
@media only screen and (max-width:400px) {


}

/* -------- */
/* research section */
/* -------- */
#research .context ul {
    padding-bottom: 40px;
}


/* -------- */
/* empathy section */
/* -------- */

#empathy {
    width: 100%;
}

#empathy p {
    padding: 20px 25vw;
    text-align: start;
}

#empathy>ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.empathy-section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.empathy-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    left: -80px;
    top: -40px;
}

.empathy-section span {
    padding: 5% 5% 5% 20%;
    text-align: left;
    background-color: rgba(0,0,0,0.08);
    border-radius: 30px;
}

.empathy-goals {
    margin: 0 30%;
    text-align: left;
    padding: 6% 5%;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.08);
    margin-bottom: 40px;
 }

 .empathy-goals ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .empathy-col {
    width: 300px;
    height: 300px;
    background-color: rgba(217,217,217,.32);
    border-radius: 35px;
    text-align: left;
    padding: 50px;
    margin-left: 30px;
    margin-top: 20px;
    color: var(--secondary-color);
 }

.empathy-row {
    justify-content: center;
    padding-bottom: 60px;
}

.empathy-row p {
    text-align: center !important;
}

@media only screen and (max-width:1225px) {

    .empathy-section span {
        padding: 5% 5% 5% 30%;
    }

}


@media only screen and (max-width:1024px) {
    #empathy p {
        padding: 0 25px;
    }

    .empathy-section img {
        width: 150px;
        height: 150px;
        left: 40%;
        top: 0px;
    }

    .empathy-section span {
        padding: 10% 5% 5% 5%;
        margin-top: 90px;
    }

    .empathy-goals {
        margin: 0 10%;
        padding: 5% !important;
     }

     .empathy-goals ul {
        gap: 10px;
        padding-bottom: 0 !important;
     }

     .empathy-col {
        width: 300px;
        height: 300px;
     }
     .last-goals {
        margin-bottom: 30px;
     }

     .empathy-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width:768px) {
    .empathy-section img {
        width: 100px;
        height: 100px;
        left: 40%;
        top: 0px;
    }

    .empathy-section span {
        padding: 10% 5% 5% 5%;
        margin-top: 70px;
        border-radius: 15px;
    }

    .empathy-col {
        width: 300px;
        height: 200px;
        border-radius: 15px;
        margin-left: 0;
        display: flex;
        align-items: center;
     }

    .empathy-row {
        display: flex;
        flex-direction: column;
    }

    .empathy-goals {
        border-radius: 15px;
    }

}

@media only screen and (max-width:400px) {

    .empathy-section img {
        left: 35%;
    }

    .empathy-section span {
        padding: 12% 5% 5% 5%;
        margin-top: 70px;
    }

    .empathy-col {
        padding: 30px;
        width: 300px;
        height: 120px;
     }
}

/* ideation */

#ideation {
    padding-bottom: 40px;
}


.ideation-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.ideation-col h2 {
    color: var(--secondary-color) !important;
    background-color: rgba(176, 176, 176, 0.3);
    border-radius: 70px;
    height: 70px;
    width: 70px;
    font-style: italic;
    font-size: 30px !important;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ideation-col p {
    margin: -50px 0 0 50px;
}


/* ------------ */
/* Digital Wireframe Section */
/* ------------ */

#digital_wireframe {
    text-align: left;
    width: 100%;
}

#digital_wireframe .context {
    background-color: #c5c7c4;
}

#digital_wireframe .context h2{
    color: var(--secondary-color);
}


#digital_wireframe .context img {
    width: 50vw;
    margin: 40px 0;
}

.wirewrame-image {
    display: flex;
    justify-content: center;
}

.digital-wireframe-context {
    background-color: var(--plant-pro-main)!important;
    text-align: center;
    color: var(--white-text);
}

.digital-wireframe-context>p {
    text-align: center;
    padding: 0 25vw;
}

.digital-wireframe-context .row {
    margin: 0 15vw;
    padding-bottom: 40px;
}

.wireframe-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--secondary-color);
    padding: 10px 30px;
}

.wireframe-col h2 {
    color: var(--secondary-color) !important;
    background-color: var(--white-text);
    border-radius: 70px;
    height: 70px;
    width: 70px;
    font-style: italic;
    font-size: 30px !important;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wireframe-col p, .wireframe-col span {
    text-align: left;
}

.wireframe-col span{
    margin: -53px 0 0 48px;
    font-size: 1.8rem;
    font-weight: 600;
    text-wrap: nowrap;
}

.wireframe-col p {
    margin: 0px 0 0 65px;
}

.mid-col {
    margin-top: 80px;
}


@media only screen and (max-width:995px) {
    .mid-col {
        margin-top: 0px;
    }
}

@media only screen and (max-width:768px) {

    #digital_wireframe .context img {
        width: 90vw;
        margin: 40px 0;
    }

    .digital-wireframe-context>p {
        text-align: left;
        padding: 35px;
    }

    .digital-wireframe-context .row {
        margin: 0 5vw;
        padding-bottom: 40px;
    }



}
@media only screen and (max-width:400px) {


}


/* --------------
Final Design section
-------------- */

#final_design {
    padding-bottom: 40px;
    text-align: left;
}

#final_design .context img {
    width: 50vw;
    margin-top: 40px;
}

@media only screen and (max-width:768px) {

    #final_design .context img {
        width: 90vw;
    }

}


/* button */
.button {
    color: var(--secondary-color);
    border:3px solid rgba(78, 78, 78, 0.3);
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25rem;
    transition: .3s all ease-in-out;
  }
.button:hover {
    color: var(--primary-color);
    border:3px solid var(--primary-color);
  }

.button-resume {
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    width: 15vw;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1vw;
    border: 3px solid transparent;
    font-weight: 500;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-out;
  }

  .button-resume:hover {
    border: 3px solid transparent;
    background-color: var(--primary-color);
    color: white;
  }


.button-project {
    color: var(--secondary-color);
    z-index: 10;
}

.button-project:hover {
    color: var(--primary-color);
}

.button-project i {
    padding:10px;
    font-size: 3rem;
}

@media only screen and (max-width:1024px) {


}
@media only screen and (max-width:768px) {
    .button {
        font-size: 1.3rem;
        width: 40vw;
      }

}
@media only screen and (max-width:400px) {
    .button {
        font-size: 1.3rem;
        width: 50vw;
      }

}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
    width: 100%;
    padding: 40px 0 0 0;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:25vw;
    justify-content: center;
    padding-bottom: 40px;
}


.copyright {
    background-color: var(--section-primary);
    color: #b2b2b2;
    padding-bottom: 20px;
}

.copyright p {
    font-size: 14px;
    font-weight: 200;
}

@media only screen and (max-width:768px) {
    footer ul {
        gap:10vw;
    }

}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    background: var(--section-primary)!important;
    background-color: var(--section-secondary);
    padding: 50px 0 30px 0;
  }

  .contact .contact-col {
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .contact .address, .email, .phone {
    background: rgb(239, 239, 239);
    height: 44px;
    width: 44px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .contact-col i {
    font-size: 20px;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
  }

  .contact .contact-col:hover .address,
  .contact .contact-col:hover .email,
  .contact .contact-col:hover .phone{
    background:var(--primary-color);
  }

  .contact .contact-col:hover i {
    color: white;
  }


  .contact .row h4 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  .contact .row p {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-color);
  }

  .contact .contact-col:hover .social-links i {
    color: var(--secondary-color);
  }

  .contact .social-links i {
    color: var(--secondary-color);
    font-size: 25px;
    padding: 5px;
  }

  .contact .contact-col:hover .social-links i:hover {
    color: var(--primary-color);
  }


  @media only screen and (max-width:960px) {

      .contact .social-links i {
      font-size: 20px;
      padding: 5px;
    }

    .contact .row p {
      margin-bottom: 30px;
    }
  }


  @media only screen and (max-width:600px) {

      .contact .social-links i {
      font-size: 20px;
      padding: 5px;
    }
    .contact .row p {
      font-size: 10px;
      margin-bottom: 30px;
    }
    .contact .row h4 {
      font-size: 1.2rem;
    }
  }
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: rgba(0,0,0,0);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    border: none;
    z-index: 9999;
  }


  .back-to-top i {
    font-size: 20px;
    -webkit-text-stroke: 1px;
    color: var(--primary-color);
    line-height: 0;
  }


  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }


  /* adding Logo */

  #logo {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 99999;
  }

  #logo a {
    margin: 0;
    text-decoration: none;
  }

  #logo h3 {
    margin: 0;
  }


  .logo {
    max-width: 50px;
    height: 50px;
  }


/*--------------------------------------------------------------
# From Figma
--------------------------------------------------------------*/
