/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* @import url("fonts.css"); */
@import url("font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/**
 * ===================================================================
 * 02. base style overrides - (_document-setup.scss)
 *
 * -------------------------------------------------------------------
 */

 :root {
	/* --primary-color: #cc005f; */
  /* --secondary-color: #2a2a2a; */
  --primary-color: #f55c7a;
	--secondary-color: #3e3e3e;
  --border: 3px;
  --color1: #faa6cd;
  --color2: #fce7a6;
  --intro-overlay: rgba(255, 249, 237, 0.85);
  --section-primary:rgb(255, 249, 237);
  --section-secondary:rgb(250, 245, 238);
  --from: 30deg;
  --distance: 60%;
}

html {
	font-size: 10px;
}

html, body {
	height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.7rem;
	line-height: 3rem;
	color: #6e6e6e;
  background-color: var(--section-secondary);
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
  .tab-full {
    width: 100%;
  }
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}




  /*--------------------------------------------------------------
  # Logo and navbar
  --------------------------------------------------------------*/

.navbar {
    padding-top: 40px;
}

.nav-item {
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
}


.logo-img {
    width: 35px;
    height: 35px;
    margin-left: 50px;
}

.logo-h1 {
    font-size: 20px;
    padding: 5px 0 0 10px;
    /* padding-top: 10px; */
    color: var(--secondary-color);
}

.navbar-nav .nav-link {
    position: relative;
  }

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);; /* Change this color as needed */
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-toggler-icon {
  background-image: none!important;
  background-color: var(--primary-color);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--primary-color);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color:var(--primary-color);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

/* .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
} */



@media only screen and (max-width:1200px) {
	.navbar-nav .nav-link:hover::before {
        width: 0px;
    }
    .nav-link {
        padding-top: 10px;
        text-align: center;
        color: var(--primary-color);
    }

    .nav-link:hover {
    color: var(--secondary-color);
    transition: all 0.3s ease;
    }
}
